<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fa fa-check" style="color: #2ecc71;")></i> Simple ToDo  
  <% end %>  
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item">
      <%= link_to('Home', root_path, class: "nav-link")  %>  
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to("Logout", destroy_user_session_path, method: 'delete', class: "nav-link") %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to('Login', new_user_session_path, class: "nav-link")  %>  
      </li>
      <li class="nav-item">
        <%= link_to('Register', new_user_registration_path, class: "nav-link") %>
      </li>
    <% end %>
  </ul>
</nav>
